* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #262a2f;
}

.container {
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
}

.container h4 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 15px;
}

.container input {
  width: 100%;
  height: 50px;
  padding: 8px 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

.container button {
  width: 100%;
  /* height: 50px; */
  background: #262a2f;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 15px 0;
  font-size: 15px;
  font-weight: 600;
}

#img-box {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  display: none;
  transition: max-height 1s ;
}

#img-box img {
  width: 100%;
  padding: 10px;
}

#img-box.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #ccc;
}

.error-shake {
  animation: shake 0.1s linear 6;
}



@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
