*{
    background-color: rgb(236, 227, 227);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 12px; */
    /* font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; */
}